{% extends 'webapp/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="cover d-flex fx-center fy-center" {% if not query %}style="display: none" {% endif %}>

  <div class="popup-dialog">
    <p class="title">New Card</p>

    <form id="form" action="{% if query %}{% url 'card_update' uuid=query.uuid %}{% else %}{% url 'card_create' %}{% endif %}" method="post">
      {% csrf_token %}

      <div class="inner-form">
        <div class="md-group">
          <input class="md-input" id="uuid" type="text" name="uuid" value="{{ query.uuid }}" aria-labelledby="label-uuid" required>
          <label for="uuid" class="md-label" id="label-uuid">
            <div class="md-label-text">UUID</div>
          </label>
        </div>

        <div class="md-group">
          <input class="md-input" list="users" id="user" name="user" value="{{ query.user.username }}"
            aria-labelledby="label-user" required>
          <label for="user" class="md-label" id="label-user">
            <div class="md-label-text">Choose a user</div>
          </label>
          <datalist id="users">
            {% for user in users %}
            <option value="{{ user.username }}"></option>
            {% endfor %}
          </datalist>
        </div>

        <div class="md-group">
          <input class="md-input" id="created-at" type="datetime-local" name="created-at"
            value="{% if query %}{{ query.created_at|date:'Y-m-d' }}T{{ query.created_at|date:'H:i' }}{% else %}{% now 'Y-m-d' %}T{% now 'H:i' %}{% endif %}"
            aria-labelledby="label-created-at" disabled>
          <label for="created-at" class="md-label" id="label-created-at">
            <div class="md-label-text">Created at</div>
          </label>
        </div>

        <div class="md-group">
          <input class="md-input" id="due-date" type="datetime-local" name="due-date"
            value="{% if query %}{{ query.due_date|date:'Y-m-d' }}T{{ query.due_date|date:'H:i' }}{% else %}{% now 'Y-m-d' %}T{% now 'H:i' %}{% endif %}"
            aria-labelledby="label-due-date" required>
          <label for="due-date" class="md-label" id="label-due-date">
            <div class="md-label-text">Due date</div>
          </label>
        </div>
      </div>

      <div class="buttons-pane">
        <button id="accept-form-button" type="submit">Update</button>
        <button id="cancel-form-button" type="reset">Cancel</button>
      </div>
    </form>
  </div>
</div>

<div class="wrap full-width">
  <button class="btn btn-new no-select" id="open-form-button"><i class="bi bi-plus-lg"></i> New</button>
  <table class="table">
    <thead class="thead">
      <tr class="tr">

        {% if user|in_groups:"Admins" %}
        <th class="no-select">UUID</th>
        {% endif %}

        <th class="no-select">User</th>
        <th class="no-select">Created at</th>
        <th class="no-select">Due date</th>
        <th class="no-select"><i class="bi bi-gear"></i></th>
      </tr>
    </thead>
    <tbody class="tbody">
      {% for card in cards %}
      <tr class="tr">

        {% if user|in_groups:"Admins" %}
        <td>{{ card.uuid }}</td>
        {% endif %}

        <td>@{{ card.user.username }}</td>
        <td>{{ card.created_at|date:'Y-m-d H:i:s' }}</td>
        <td>{{ card.due_date|date:'Y-m-d H:i:s' }}</td>
        <td>
          <button class="btn btn-more btn-edit" onclick="location.href='{% url 'card_detail' uuid=card.uuid %}'"><i
              class="bi bi-pencil-fill"></i></button>
          <button class="btn btn-more btn-delete" onclick="location.href='{% url 'card_delete' uuid=card.uuid %}'"><i
              class="bi bi-trash3-fill"></i></button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  const openFormButton = document.getElementById('open-form-button');
  const popupBackground = document.querySelector('.cover');

  const form = document.getElementById('form');
  const formAcceptButton = document.getElementById('accept-form-button');
  const formCancelButton = document.getElementById('cancel-form-button');

  const uuid = document.getElementById('uuid');
  const createdAt = document.getElementById('created-at');
  const dueDate = document.getElementById('due-date');
  const user = document.getElementById('user');

  openFormButton.addEventListener('click', () => {
    formAcceptButton.innerText = 'Create';
    popupBackground.style.display = 'flex';
    form.action = '{% url 'card_create' %}';

    uuid.setAttribute('value', '');
    createdAt.setAttribute('value', datetime());
    dueDate.setAttribute('value', datetime());
  });

  formCancelButton.addEventListener('click', () => {
    popupBackground.style.display = 'none';
  });

  uuid.addEventListener('input', () => {
    uuid.setAttribute('value', uuid.value);
  });

  createdAt.addEventListener('input', () => {
    createdAt.setAttribute('value', createdAt.value);
  });

  dueDate.addEventListener('input', () => {
    dueDate.setAttribute('value', dueDate.value);
  });

  user.addEventListener('input', () => {
    user.setAttribute('value', user.value);
  });


  // Replace "ws://your-websocket-server.com" with the actual URL of your server
    const wsUri = "ws://192.168.0.104:8001";

    // const output = document.getElementById("uuid"); // Assuming you have an element with id="output"

    function init() {
      const ws = new WebSocket(wsUri);

      ws.onopen = function (e) {
        // output.innerHTML = "Connection established";
      };

      ws.onmessage = function (e) {
        // const data = JSON.parse(e.data);
        // Process the JSON data here
        console.log("Received data:", e.data);
        // You can further manipulate or display the data as needed
        // output.innerHTML = "Received JSON: " +  e.data;// JSON.stringify(data, null, 2);
        uuid.setAttribute('value', e.data);
      };

      ws.onerror = function (e) {
        console.error("WebSocket Error:", e);
        // output.innerHTML = "Error connecting to server";
      };

      ws.onclose = function (e) {
        console.log("WebSocket closed");
        // output.innerHTML = "Connection closed";
      };
    }

    window.addEventListener("load", init);
</script>
{% endblock content %}