{% extends 'webapp/base.html' %}

{% block content %}
<div class="cover d-flex fx-center fy-center" {% if not query %}style="display: none" {% endif %}>

  <div class="popup-dialog">
    <p class="title">New Device</p>

    <form id="form" action="{% if query %}{% url 'device_update' id=query.chip_id %}{% else %}{% url 'device_create' %}{% endif %}" method="post">
      {% csrf_token %}

      <div class="inner-form">
        <div class="md-group">
          <input class="md-input" id="chip-id" type="text" name="chip-id" value="{{ query.chip_id }}" aria-labelledby="label-chip-id" required>
          <label for="chip-id" class="md-label" id="label-chip-id">
            <div class="md-label-text">Chip</div>
          </label>
        </div>
      </div>

      <div class="buttons-pane">
        <button id="accept-form-button" type="submit">Update</button>
        <button id="cancel-form-button" type="reset">Cancel</button>
      </div>
    </form>
  </div>
</div>

<div class="wrap full-width">
  <button class="btn btn-new no-select" id="open-form-button"><i class="bi bi-plus-lg"></i> New</button>
  <table class="table">
    <thead class="thead">
      <tr class="tr">
        <th class="no-select">ID</th>
        <th class="no-select">Chip</th>
        <th class="no-select"><i class="bi bi-gear"></i></th>
      </tr>
    </thead>
    <tbody class="tbody">
      {% for device in devices %}
      <tr class="tr">
        <td>{{ device.id }}</td>
        <td>{{ device.chip_id }}</td>
        <td>
          <button class="btn btn-more btn-edit" onclick="location.href='{% url 'device_detail' id=device.chip_id %}'"><i
              class="bi bi-pencil-fill"></i></button>
          <button class="btn btn-more btn-delete" onclick="location.href='{% url 'device_delete' id=device.chip_id %}'"><i
              class="bi bi-trash3-fill"></i></button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  const openFormButton = document.getElementById('open-form-button');
  const popupBackground = document.querySelector('.cover');

  const form = document.getElementById("form");
  const formAcceptButton = document.getElementById('accept-form-button');
  const formCancelButton = document.getElementById('cancel-form-button');

  const chipID = document.getElementById('chip-id');

  openFormButton.addEventListener('click', () => {
    formAcceptButton.innerText = 'Create';
    popupBackground.style.display = 'flex';
    form.action = '{% url 'device_create' %}';

    chipID.setAttribute('value', '');
  });

  formCancelButton.addEventListener('click', () => {
    popupBackground.style.display = 'none';
  });

  chipID.addEventListener('input', () => {
    chipID.setAttribute('value', chipID.value);
  });
</script>
{% endblock content %}