{% extends 'webapp/base.html' %}

{% block content %}
<div class="cover d-flex fx-center fy-center" {% if not query %}style="display: none" {% endif %}>

  <div class="popup-dialog">
    <p class="title">New Lock</p>

    <form id="form" action="{% if query %}{% url 'lock_update' name=query.name %}{% else %}{% url 'lock_create' %}{% endif %}" method="post">
      {% csrf_token %}

      <div class="inner-form">
        <div class="md-group">
          <input class="md-input" id="name" type="text" name="name" value="{{ query.name }}" aria-labelledby="label-name" required>
          <label for="name" class="md-label" id="label-name">
            <div class="md-label-text">Name</div>
          </label>
        </div>

        <div class="md-group">
          <input class="md-input" list="lock-groups" id="lock-group" name="lock-group" value="{{ query.groups.all|first }}"
            aria-labelledby="label-lock-group" required>
          <label for="lock-group" class="md-label" id="label-lock-group">
            <div class="md-label-text">Choose a group</div>
          </label>
          <datalist id="lock-groups">
            {% for group in groups %}
            <option value="{{ group.name }}"></option>
            {% endfor %}
          </datalist>
        </div>

        <div class="md-group">
          <input class="md-input" list="devices" id="device" name="device" value="{{ query.device.chip_id }}"
            aria-labelledby="label-device" required>
          <label for="device" class="md-label" id="label-device">
            <div class="md-label-text">Choose a device</div>
          </label>
          <datalist id="devices">
            {% for device in devices %}
            <option value="{{ device.chip_id }}"></option>
            {% endfor %}
          </datalist>
        </div>

      </div>

      <div class="buttons-pane">
        <button id="accept-form-button" type="submit">Update</button>
        <button id="cancel-form-button" type="reset">Cancel</button>
      </div>
    </form>
  </div>
</div>

<div class="wrap full-width">
  <button class="btn btn-new no-select" id="open-form-button"><i class="bi bi-plus-lg"></i> New</button>
  <table class="table">
    <thead class="thead">
      <tr class="tr">
        <th class="no-select">ID</th>
        <th class="no-select">Name</th>
        <th class="no-select">Device</th>
        <th class="no-select">Lock group</th>
        <th class="no-select"><i class="bi bi-gear"></i></th>
      </tr>
    </thead>
    <tbody class="tbody">
      {% for lock in locks %}
      <tr class="tr">
        <td>{{ lock.id }}</td>
        <td>{{ lock.name }}</td>
        <td>{{ lock.device.chip_id }}</td>
        <td>{{ lock.groups.all|first }}</td>
        <td>
          <button class="btn btn-more btn-edit" onclick="window.open('{% url 'report' name=lock.name %}', '_blank')"><i
              class="bi bi-file-earmark-fill"></i></button>
          <button class="btn btn-more btn-edit" onclick="location.href='{% url 'lock_detail' name=lock.name %}'"><i
              class="bi bi-pencil-fill"></i></button>
          <button class="btn btn-more btn-delete" onclick="location.href='{% url 'lock_delete' name=lock.name %}'"><i
              class="bi bi-trash3-fill"></i></button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  const openFormButton = document.getElementById('open-form-button');
  const popupBackground = document.querySelector('.cover');

  const form = document.getElementById('form');
  const formAcceptButton = document.getElementById('accept-form-button');
  const formCancelButton = document.getElementById('cancel-form-button');

  const name = document.getElementById('name');
  const device = document.getElementById('device');
  const lockGroup = document.getElementById('lock-group');

  openFormButton.addEventListener('click', () => {
    formAcceptButton.innerText = 'Create';
    popupBackground.style.display = 'flex';
    form.action = '{% url 'lock_create' %}';

    name.setAttribute('value', '');
    device.setAttribute('value', '');
    lockGroup.setAttribute('value', '');
  });

  formCancelButton.addEventListener('click', () => {
    popupBackground.style.display = 'none';
  });

  name.addEventListener('input', () => {
    name.setAttribute('value', name.value);
  });

  device.addEventListener('input', () => {
    device.setAttribute('value', device.value);
  });

  lockGroup.addEventListener('input', () => {
    lockGroup.setAttribute('value', lockGroup.value);
  });
</script>
{% endblock content %}