{% extends 'webapp/base.html' %}

{% block content %}
<div class="cover d-flex fx-center fy-center" {% if not query %}style="display: none" {% endif %}>

  <div class="popup-dialog">
    <p class="title">New Group</p>

    <form id="form" action="{% if query %}{% url 'group_lock_update' name=query.name %}{% else %}{% url 'group_lock_create' %}{% endif %}" method="post">
      {% csrf_token %}

      <div class="inner-form">

        <div class="md-group">
          <input class="md-input" id="name" type="text" name="name" value="{{ query.name }}" aria-labelledby="label-name" required>
          <label for="name" class="md-label" id="label-name">
            <div class="md-label-text">Name</div>
          </label>
        </div>
      </div>

      <div class="buttons-pane">
        <button id="accept-form-button" type="submit">Update</button>
        <button id="cancel-form-button" type="reset">Cancel</button>
      </div>
    </form>
  </div>
</div>

<div class="wrap full-width">
  <button class="btn btn-new no-select" id="open-form-button"><i class="bi bi-plus-lg"></i> New</button>
  <table class="table">
    <thead class="thead">
      <tr class="tr">
        <th class="no-select">ID</th>
        <th class="no-select">Name</th>
        <th class="no-select"><i class="bi bi-gear"></i></th>
      </tr>
    </thead>
    <tbody class="tbody">
      {% for lock_group in lock_groups %}
      <tr class="tr">
        <td>{{ lock_group.id }}</td>
        <td>{{ lock_group.name }}</td>
        <td>
          <button class="btn btn-more btn-edit" onclick="location.href='{% url 'group_lock_detail' name=lock_group.name %}'"><i
              class="bi bi-pencil-fill"></i></button>
          <button class="btn btn-more btn-delete" onclick="location.href='{% url 'group_lock_delete' name=lock_group.name %}'"><i
              class="bi bi-trash3-fill"></i></button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  const openFormButton = document.getElementById('open-form-button');
  const popupBackground = document.querySelector('.cover');

  const form = document.getElementById("form");
  const formAcceptButton = document.getElementById('accept-form-button');
  const formCancelButton = document.getElementById('cancel-form-button');

  const name = document.getElementById('name');

  openFormButton.addEventListener('click', () => {
    formAcceptButton.innerText = 'Create';
    popupBackground.style.display = 'flex';
    form.action = '{% url 'group_lock_create' %}';

    name.setAttribute('value', '');
    authority.setAttribute('value', '');
  });

  formCancelButton.addEventListener('click', () => {
    popupBackground.style.display = 'none';
  });

  name.addEventListener('input', () => {
    name.setAttribute('value', name.value);
  });
</script>
{% endblock content %}