{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}
<div class="full-height d-flex fx-center fy-center">
    <div id="form-wrap" class="full-height full-width container d-flex fx-center fy-center">
        <div class="inner-wrap">
            <h2>Login</h2>
            <br>
            <form method="post" class="d-flex f-col">
                {% csrf_token %}
                
                <div class="md-group">
                    <input class="md-input" id="username" type="text" name="username" value=""
                        aria-labelledby="label-username">
                    <label for="username" class="md-label" id="label-username">
                        <div class="md-label-text">Username</div>
                    </label>
                </div>
                <div class="md-group">
                    <input class="md-input" id="password" type="password" name="password" value=""
                        aria-labelledby="label-password">
                    <label for="password" class="md-label" id="label-password">
                        <div class="md-label-text">Password</div>
                    </label>
                </div>
                <button id="login-btn" class="btn btn-new" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
<style>
    .container {
        padding: 2rem;
        border-radius: 0.375rem;
        box-shadow: var(--accent-shadow);
    }

    #form-wrap {
        background-color: rgba(40, 44, 52, 0.6);
        backdrop-filter: blur(3px);
    }

    #login-btn {
        background-color: var(--color-light-blue);
        color: var(--color-blue);
    }

    form {
        gap: 1rem;
    }

    .md-input {
        background-color: rgba(40, 44, 52, 0.7);
        color: var(--color-light-gray);
    }

    .md-input:focus + .md-label .md-label-text {
        background-color: var(--color-blue);
        color: var(--color-light-gray);
        border-radius: 0.375rem;
    }

    .md-input:focus + .md-label .md-label-text,
    :not(.md-input[value=""]) + .md-label .md-label-text {
        background-color: var(--color-blue);
        color: var(--color-light-gray);
        border-radius: 0.375rem;
    }

    h3,
    h2 {
        color: var(--color-light-gray);
    }

    @media screen and (min-width: 576px) {
        .container {
            height: auto;
            width: fit-content;
        }
    }
</style>
<script>
    const username = document.getElementById('username');
    const password = document.getElementById('password');

    username.addEventListener('input', () => {
        username.setAttribute('value', username.value);
    });

    password.addEventListener('input', () => {
        password.setAttribute('value', password.value);
    });

    // Change image every 5 seconds (adjust as needed)
    setInterval(changeImage, 5000);

    // Initial image load
    changeImage();
</script>
{% endblock content %}