{% extends 'webapp/base.html' %}

{% block content %}
<div class="cover d-flex fx-center fy-center" {% if not query %}style="display: none" {% endif %}>

  <div class="popup-dialog">
    <p class="title">New User</p>

    <form id="form" action="{% if query %}{% url 'user_update' username=query.username %}{% else %}{% url 'user_create' %}{% endif %}" method="post">
      {% csrf_token %}

      <div class="inner-form">
        <div class="m-group">
          <input class="m-input" id="username" type="text" name="username" value="{{ query.username }}" aria-labelledby="label-username">
          <label for="username" class="m-label" id="label-username">
            <div class="m-label-text">Username</div>
          </label>
        </div>

        <div class="m-group">
          <input class="m-input" id="password" type="password" name="password" value="" aria-labelledby="label-password">
          <label for="password" class="m-label" id="label-password">
            <div class="m-label-text">Password</div>
          </label>
        </div>

        <div class="m-group">
          <input class="m-input" id="email" type="email" name="email" value="{{ query.email }}" aria-labelledby="label-email">
          <label for="email" class="m-label" id="label-email">
            <div class="m-label-text">E-mail</div>
          </label>
        </div>

        <div class="m-group">
          <input class="m-input" list="groups" id="group" name="group" value="{{ query.groups.all|first }}"
            aria-labelledby="label-group">
          <label for="group" class="m-label" id="label-group">
            <div class="m-label-text">Choose a group</div>
          </label>
          <datalist id="groups">
            {% for group in groups %}
            <option value="{{ group.name }}"></option>
            {% endfor %}
          </datalist>
        </div>

      </div>

      <div class="buttons-pane">
        <button id="accept-form-button" type="submit">Update</button>
        <button id="cancel-form-button" type="reset">Cancel</button>
      </div>
    </form>
  </div>
</div>

<div class="wrap full-width">
  <button class="btn btn-new no-select" id="open-form-button"><i class="bi bi-plus-lg"></i> New</button>
  <table class="table">
    <thead class="thead">
      <tr class="tr">
        <th class="no-select">ID</th>
        <th class="no-select">Username</th>
        <th class="no-select">E-mail</th>
        <th class="no-select">Group</th>
        <th class="no-select"><i class="bi bi-gear"></i></th>
      </tr>
    </thead>
    <tbody class="tbody">
      {% for user in users %}
      <tr class="tr">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.groups.all|first }}</td>
        <td>
          <button class="btn btn-more btn-edit" onclick="location.href='{% url 'user_detail' username=user.username %}'"><i
              class="bi bi-pencil-fill"></i></button>
          <button class="btn btn-more btn-delete" onclick="location.href='{% url 'user_delete' username=user.username %}'"><i
              class="bi bi-trash3-fill"></i></button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  const openFormButton = document.getElementById('open-form-button');
  const popupBackground = document.querySelector('.cover');

  const form = document.getElementById('form');
  const formAcceptButton = document.getElementById('accept-form-button');
  const formCancelButton = document.getElementById('cancel-form-button');

  const username = document.getElementById('username');
  const password = document.getElementById('password');
  const email = document.getElementById('email');
  const group = document.getElementById('group');

  openFormButton.addEventListener('click', () => {
    formAcceptButton.innerText = 'Create';
    popupBackground.style.display = 'flex';
    form.action = '{% url 'user_create' %}';

    username.setAttribute('value', '');
    password.setAttribute('value', '');
    email.setAttribute('value', '');
    group.setAttribute('value', '');
  });

  formCancelButton.addEventListener('click', () => {
    popupBackground.style.display = 'none';
  });

  username.addEventListener('input', () => {
    username.setAttribute('value', username.value);
  });

  password.addEventListener('input', () => {
    password.setAttribute('value', password.value);
  });

  email.addEventListener('input', () => {
    email.setAttribute('value', email.value);
  });

  group.addEventListener('input', () => {
    group.setAttribute('value', group.value);
  });
</script>
{% endblock content %}