.m-group {
    position: relative;
}

.m-input {
    width: 100%;
    height: 3rem;

    border: 1px solid #C0C0C0;
    border-radius: 0.375rem;
    padding: 1rem;
    outline: none;
}

.m-label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1rem;

    display: flex;
    align-items: center;
    pointer-events: none;
    color: gray;
}

.m-input,
.m-label .m-label-text {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

.m-input:focus {
    border: 2px solid var(--color-blue);
}

.m-input:focus+.m-label .m-label-text {
    font-size: 0.75rem;
    transform: translate(0, -100%);
    background-color: white;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: var(--color-blue);
    ;
}

.m-label .m-label-text {
    transition: all 0.15s ease-out;
}

.m-input:focus+.m-label .m-label-text,
:not(.m-input[value=""])+.m-label .m-label-text {
    font-size: 0.75rem;
    transform: translate(0, -150%);
    background-color: white;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.m-input:focus+.m-label .m-label-text {
    color: var(--color-blue);
}