.notification-panel {
    padding: 0.75rem;
    position: absolute;
    width: 35%;
    right: 0;
}

.notification-card {
    position: relative;
    background-color: white;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.375rem;
    box-shadow: var(--accent-shadow);
    overflow: hidden;
    z-index: 2;
}

.notification-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.notification-card .notification-heading {
    margin-bottom: 1rem;
    font-weight: bold;
}

.notification-info {
    border-left: 0.375rem solid var(--color-blue);
}

.notification-info .notification-heading {
    color: var(--color-dark-blue);
}

.notification-success {
    border-left: 0.375rem solid var(--color-green);
}

.notification-success .notification-heading {
    color: var(--color-dark-green);
}

.notification-danger {
    border-left: 0.375rem solid var(--color-red);
}

.notification-danger .notification-heading {
    color: var(--color-red);
}

/* ----------------------------------------------
 * Generated by Animista on 2024-4-25 15:54:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes fade-out {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.fade-out {
    animation: fade-out 1s ease-out both
}