.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.text-center {
    text-align: center;
}

.no-select {
    user-select: none;
}

.d-flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.fx-start {
    justify-content: flex-start;
}

.fx-center {
    justify-content: center;
}

.fx-end {
    justify-content: flex-end;
}

.fy-start {
    align-items: flex-start;
}

.fy-center {
    align-items: center;
}

.fy-end {
    align-items: flex-end;
}