* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
.layout {
    height: 100vh;
}

body {
    background-image: url('');
    /* Placeholder for image URL */
    /* background-size: cover; */
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;

    font-family: var(--default-font, var(--alt-font, var(--safe-font)));
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

/* Layout */
.layout {
    flex-direction: column-reverse;
    padding: 0.75rem;
}

.main {
    flex: 1;
}

.inner-sidebar {
    background-color: var(--color-base-dark);

    border-radius: 1rem;
    padding: 0.5rem;
    gap: 0.5rem;

    overflow: auto;
    scrollbar-width: none;
}

.item {
    flex: 1;

    border-radius: 0.375rem;
    transition: all 0.3s ease;
}

.item:hover {
    background-color: #3e4451;
    cursor: pointer;
}

.item.active {
    background-color: var(--color-dark-blue);
}

.item a {
    color: white;
    opacity: 0.85;
    padding: 0.5rem;
}

.item:hover a {
    opacity: 1;
}

.item a i {
    font-size: 1.5rem;
}

.item-tag {
    display: none;
}

@media screen and (min-width: 576px) {
    .layout {
        flex-direction: row;
        gap: 0.75rem;
    }

    .inner-sidebar {
        flex-direction: column;
        height: 100%;
        padding: 1.5rem 0.5rem;
    }

    .item {
        flex: 0 0 auto;
    }

    .item a {
        padding: 0.75rem;
    }

    .item-tag {
        display: block;
        font-size: 0.75rem;
    }
}

.wrap {
    padding: 1rem;

    background-color: #fff;

    border-radius: 0.375rem;
    box-shadow: var(--accent-shadow);
}

.btn:hover {
    box-shadow: var(--soft-shadow);
}

.btn-new {
    background-color: var(--color-blue);
    color: #fff;
    padding: 0.7rem;
    border: none;

    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'Montserrat';

    border-radius: 0.375rem;
    cursor: pointer;

    transition: all 0.3s ease;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 1rem;

    background-color: rgba(33, 37, 43, 0.5);
}

.popup-dialog {
    background-color: white;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.375rem;
    box-shadow: var(--soft-shadow);
    overflow: hidden;
}

.popup-dialog .buttons-pane {
    margin-top: 1rem;
    display: flex;
    justify-content: right;
}

.popup-dialog button {
    background-color: white;
    padding: 0.7rem;
    font-weight: bold;
    border-radius: 0.375rem;
    border: none;
    font-family: 'Montserrat';
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.popup-dialog .title {
    margin-bottom: 1rem;
    font-weight: bold;
    color: var(--color-dark-gray);
}

.popup-dialog button:hover {
    box-shadow: var(--soft-shadow);
    cursor: pointer;
}

.popup-dialog #accept-form-button {
    background-color: var(--color-blue);
    color: #fff;
}

.popup-dialog #cancel-form-button {
    margin-left: 0.5rem;

    background-color: var(--color-light-gray);
    color: var(--color-dark-gray);
}

@media screen and (min-width: 768px) {
    .popup-dialog {
        width: 60%;
    }
}

/* Input styles */
.inner-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 576px) {
    .inner-form {
        display: grid;
        grid-template-columns: repeat(2, minmax(188px, 1fr));
    }
}